:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --main-color: #000028;
  --text-color: #f1b2ce;
  --title-decor: #db00ff;
  --nav-color: #ff0070;
  --title-color: #ff0070;
  --nav-hover-color: rgba(255, 0, 112, 0.4);
  --display-header-rec: block;
}
