/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--main-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* link */
.link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--text-color);
}

/* header псевдоэлементы */
.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 24px;
  border-bottom: 1px solid #ff0070;
  border-left: 1px solid #ff0070;
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 24px;
  border-top: 1px solid #ff0070;
  border-right: 1px solid #ff0070;
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

/* header */
.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  margin-block-end: var(--header-gap);
  padding: var(--main-gap);
  block-size: 100vh;
  min-block-size: 668px;
}

.header__span {
  position: absolute;
  display: var(--display-header-rec);
  color: var(--accent-color);
  line-height: 139%;
  text-transform: uppercase;
  inset-inline-end: calc(var(--main-gap) + 28px);
  inset-block-start: calc(var(--main-gap) + 2px);
}

.header__span::after {
  content: "";
  position: absolute;
  margin: -5px -20px 0 0;
  border-radius: 100%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
  inset-inline-end: 0;
  inset-block-start: 50%;
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 0px 13px;
  color: var(--nav-color);
  text-transform: lowercase;
  background: none;
  cursor: pointer;
  appearance: none;
}

.header__theme-menu-button:hover {
  border-color: var(--nav-hover-color);
}

.header__theme-menu-button_active {
  border-color: var(--nav-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-color);
}

.header__title {
  justify-self: start;
  color: var(--title-decor);
  font-weight: var(--bold-text);
  font-size: var(--header-logo-size);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header__title {
    position: relative;
    inset-inline-start: calc(-1 * var(--main-gap));
  }
}

.header__text {
  color: var(--main-color);
  font-weight: var(--bold-text);
  line-height: 130%;
  background-color: var(--accent-color);
}

@media (width >= 768px) {
  .header__text {
    inline-size: 50%;
  }
}

.header__paragraph {
  color: var(--main-color);
  font-weight: var(--bold-text);
  line-height: 130%;
}

/* body */

.section {
  display: grid;
  padding: 0 var(--main-gap);
}

/* section content__why */

.content__title {
  color: var(--accent-color);
  font-size: var(--text-size);
  line-height: 130%;
}

.content__why {
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr 1fr;
  gap: 20px;
  padding-block-end: var(--section-gap);
}

@media (width >= 768px) {
  .content__why {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
  }

  .content__why_title {
    grid-column: 1;
  }

  .content__why_card {
    grid-column: 2;
  }
}

@media (width >= 1024px) {
  .content__why {
    grid-template-columns: 314px 1fr;
  }
}

/* section content__what */

.content__what {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
  gap: 20px;
  padding-block-end: var(--section-gap);
}

@media (width >= 768px) {
  .content__what {
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(4, min-content);
  }

  .content__what_title {
    grid-column: 1;
    grid-row: 1;
  }

  .content__what_card {
    grid-column: 1 / 4;
  }
}

@media (width >= 1024px) {
  .content__what {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr;
  }

  .content__what_title {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .content__what_card {
    grid-column: auto;
    grid-row: 2;
  }
}

/* section content__how */

.content__how {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, min-content);
  gap: 20px;
  padding-block-end: var(--section-gap);
}

.card__title-how {
  color: var(--main-color);
  font-weight: var(--regular-text);
  font-size: var(--text-size);
  line-height: 130%;
  background-color: var(--accent-color);
}

@media (width >= 768px) {
  .content__how {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(6, min-content);
  }

  .content__how_title {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .content__how_card_title {
    grid-column: 2;
  }

  .content__how_card {
    grid-column: 2;
  }
}

@media (width >= 1024px) {
  .content__how {
    grid-template-columns: 314px 1fr;
  }
}

/* section content__gallery */

.content__gallery {
  gap: var(--main-gap);
}

.gallery__image {
  inline-size: 100%;
}

.gallery__list {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
}

.gallery__list-item {
  line-height: 0;
}

@media (width >= 768px) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: fit-content fit-content fit-content;
  }

  .gallery__image {
    object-fit: cover;
    block-size: 100%;
  }

  .gallery__list-item:nth-child(1) {
    grid-column: 1 / 3;
  }

  .gallery__list-item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__list-item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__list-item:last-child {
    grid-column: 2 / 4;
  }
}

/* card style */

.card {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 10px;
}

.card__title {
  color: var(--main-color);
  font-weight: var(--bold-text);
  font-size: var(--text-size);
  background-color: var(--accent-color);
}

.card__text {
  line-height: 130%;
}

/* footer */

.footer {
  position: relative;
  display: grid;
  height: 100vh;
  min-height: 667px;
  margin-block-start: var(--footer-gap);
  padding: var(--main-gap);
}

.footer__title {
  justify-self: center;
  align-self: center;
  color: var(--title-decor);
  font-weight: var(--bold-text);
  font-size: var(--footer-logo-size);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
}
